.container{
  background-color: lightblue;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputContainer{
  padding: 15px;
}

.memosContainer{
  display: flex;
  flex-wrap: wrap;

  max-width: 500px;
}

.memo{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40%;
  box-sizing: border-box;
  background-color: yellow;
  margin: 5px;
}

ul{
  margin: 0px;
  padding: 0px;
}