.container{
  background-color: lightblue;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notesContainer{
  display: flex;
  flex-wrap: wrap;

  max-width: 100px;
}

.note{
  width: 50%;
  box-sizing: border-box;
}